body {
    margin: 0;
}

@font-face {
    font-family: 'campus_personal_useregular';
    src: url('campus_personal_use-webfont.woff2') format('woff2'),
        url('campus_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand/quicksand-regular-webfont.woff2') format('woff2'),
        url('quicksand/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'campus_personal_useregular';
}

img {
    width: 100%;
}

/* FORSIDE */
#splash {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-image: url(portfoliofoto.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

/*.luknav {
        position: absolute;
    color: #818181;
    display: block;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    padding: 8px 8px 8px 8px;
    transition: 0.3s;
    cursor: pointer;
}*/

.sidenavclass a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color: white;
    font-family: 'quicksandregular'
}

.sidenavclass {
    position: absolute;
    transition: 0.5s;
    transform-origin: top left;
    background-color: black;

}

.sidenavclass.hidden {
    transform: translateX(-100%);
}


.sidenavclass a:hover {
    color: dimgrey;
}

.menuknap {
    cursor: pointer;
    color: white;
    font-size: 3rem;
    font-family: 'quicksandregular';
}

.luknav {
    cursor: pointer;
    color: white;
    font-size: 3rem;
}

/*.sidenavclass {
    display: none;
}*/

/*
.show {
    display: block;
}
*/
.hidden {
    visibility: hidden;
}

.title {
    margin: 0;
    font-family: 'campus_personal_useregular';
    font-size: 3rem;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 500px) {
    .title {
        font-size: 5rem;
    }

    .menuknap {
        visibility: hidden;
    }

    .luknav {
        display: none;

    }

    .hidden {
        visibility: visible;
    }

    .sidenavclass.hidden {
        transform: translateX(0);
    }

    .sidenavclass {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;

    }

    .sidenavclass a {
        padding: 5px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1000px) {
    .title {
        font-size: 6rem;
    }
}

#splash {
    background-position: 50% 30%;
}

/* CV */

#cv {
    background-color: lightgreen
}

#cv h1 {
    font-size: 5rem;
    text-align: center;
}

#cv h3 {
    font-family: 'quicksandregular';
}

#box {
    background-color: rgb(255, 210, 0);
    padding: 15px 10px 20px;
    position: relative;
    font-family: 'quicksandregular';
}

#box.lille {
    overflow: hidden;
    max-height: 150px;
}

#box.stor {
    max-height: 1000px
}

#mere {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(rgba(255, 210, 0, 0), rgb(255, 210, 0));
    width: 100%;
    height: 60px;
}

#mere .plus {
    background-color: white;
    width: 20px;
    height: 20px;
    color: red;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    position: absolute;
}

#mereommmig {
    font-family: 'quicksandregular';
}

#box.lille span::after {
    content: "+";
}

#box.stor span::after {
    content: "-"
}

.gult_overlay {
    height: 60px;
    background: linear-gradient(rgba(255, 210, 0, 0), (rgbb255, 210, 0;
    )
}

/* WEB */

#web {
    background-color: lightgreen
}

#web p {
    font-family: 'quicksandregular';
}

#web h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'quicksandregular';
}

#web h3 {
    font-family: 'quicksandregular';
}

/* ANIMATION */

#animation {
    background-color: lightgreen
}

#animation p {
    font-family: 'quicksandregular';
}

#animation h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'quicksandregular';
}

#animation h3 {
    font-family: 'quicksandregular';
}

/* CONTENT */

#content {
    background-color: lightgreen
}

#content p {
    font-family: 'quicksandregular';
}

#content h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'quicksandregular';
}

#web h3 {
    font-family: 'quicksandregular';
}

/* UX */

#ux {
    background-color: lightgreen
}

#ux p {
    font-family: 'quicksandregular';
}

#ux h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'quicksandregular';
}

#ux h3 {
    font-family: 'quicksandregular';
}
