body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

a {
    font-family: 'quicksandregular';
}

@font-face {
    font-family: 'campus_personal_useregular';
    src: url('campus_personal_use-webfont.woff2') format('woff2'),
        url('campus_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand/quicksand-regular-webfont.woff2') format('woff2'),
        url('quicksand/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand-bold-webfont.woff2') format('woff2'),
        url('quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'campus_personal_useregular';
}

h2 {
    font-family: 'quicksandregular'
}

img {
    width: 100%;
}

/* FORSIDE */
#splash {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-image: url(portfoliofoto.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

/*.luknav {
        position: absolute;
    color: #818181;
    display: block;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    padding: 8px 8px 8px 8px;
    transition: 0.3s;
    cursor: pointer;
}*/

.sidenavclass a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color: white;
    font-family: 'quicksandregular'
}

.sidenavclass a.active {
    color: dimgray;
}

.sidenavclass {
    position: absolute;
    transition: 0.5s;
    transform-origin: top left;
    background-color: black;
    z-index: 100;
    justify-content: space-between;
    position: fixed;
}

.sidenavclass.hidden {
    transform: translateX(-100%);
}


.sidenavclass a:hover {
    color: dimgrey;
}

.menuknap {
    cursor: pointer;
    color: white;
    font-size: 3rem;
    font-family: 'quicksandregular';
    position: fixed;
}

.luknav {
    cursor: pointer;
    color: white;
    font-size: 3rem;
}

/*.sidenavclass {
    display: none;
}*/

/*
.show {
    display: block;
}
*/
.hidden {
    visibility: hidden;
}

.title {
    margin: 0;
    font-family: 'campus_personal_useregular';
    font-size: 3rem;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 5rem;
    }

    .menuknap {
        visibility: hidden;
        position: fixed;
    }

    .luknav {
        display: none;

    }

    .hidden {
        visibility: visible;
    }

    .sidenavclass.hidden {
        transform: translateX(0);
    }

    .sidenavclass {
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        width: 100%;
        position: fixed;
    }

    .sidenavclass a {
        padding: 5px;
        overflow: hidden;
    }

    #farvefejl {}

    #farvefejl figure {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px) {
    .title {
        font-size: 6rem;
    }

    #farvefejl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .teorijs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .cvmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .teorigruppespil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .contentmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .designsprint {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .egetdesignsprint {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }



}

#splash {
    background-position: 50% 30%;
}

/* CV */

#cv {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-color: #CE4246;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
}

.toppics {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.toppics img {
    border-radius: 30%;
}


#cv p {}

.endnumereommig {
    font-family: 'quicksandregular';
}

#cv h1 {
    font-size: 5rem;
    text-align: center;
}

#cv h3 {
    font-family: 'quicksandregular';
}

#box {
    background-color: rgb(255, 210, 0);
    padding: 15px 10px 30px 20px;
    position: relative;
    font-family: 'quicksandregular';
}

#box.lille {
    overflow: hidden;
    max-height: 150px;
}

#box.stor {
    max-height: 3000px
}

#mere {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(rgba(255, 210, 0, 0), rgb(255, 210, 0));
    width: 100%;
    height: 60px;


}

#mere .plus {
    background-color: white;
    width: 20px;
    height: 20px;
    color: red;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    position: absolute;
    cursor: pointer;
}

#mereommmig {
    font-family: 'quicksandregular';
}

#box.lille span::after {
    content: "+";
}

#box.stor span::after {
    content: "-"
}

.gult_overlay {
    height: 60px;
    background: linear-gradient(rgba(255, 210, 0, 0), (rgbb255, 210, 0;
    ))
}

/* WEB */

#web {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-color: #9EDB41;
    width: 100vw;
    justify-content: center;
}

#web p {
    font-family: 'quicksandregular';
}

#web h1 {
    font-size: 5rem;
    text-align: center;
}

.linkweb a {
    text-decoration: none;
    color: white;
}

.linkweb {
    border-style: solid;
    width: 85px;
    text-align: center;
    background-color: black;

}

#web h3 {
    font-family: 'quicksandregular';
}

#farvefejl {
    margin: 0;
    padding: 15px;
}

/* ANIMATION */

#animation {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-color: #F29F05;
    width: 100vw;
    justify-content: center;
}

#animation p {
    font-family: 'quicksandregular';
}

#animation h1 {
    font-size: 4rem;
    text-align: center;
}

.linkani a {
    text-decoration: none;
    color: white;
}

.linkani {
    border-style: solid;
    width: 125px;
    text-align: center;
    background-color: black;
}

.linkani2 {
    border-style: solid;
    width: 125px;
    text-align: center;
    background-color: black;
    margin-top: 5px;
}

.linkani2 a {
    text-decoration: none;
    color: white;
}

#animation h3 {
    font-family: 'quicksandregular';
}

/* CONTENT */

#content {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-color: #C4BCB6;
    width: 100vw;
    justify-content: center;
}

#content p {
    font-family: 'quicksandregular';
}

#content h1 {
    font-size: 5rem;
    text-align: center;
}

.linkcontent a {
    text-decoration: none;
    color: white;
}

.linkcontent {
    border-style: solid;
    width: 155px;
    text-align: center;
    background-color: black;
}

#content h3 {
    font-family: 'quicksandregular';
}

/* UX */

#ux {
    position: relative;
    /* background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);*/
    background-color: #62C0F5;
    width: 100vw;
    justify-content: center;
}

#ux p {
    font-family: 'quicksandregular';
}

#ux h1 {
    font-size: 5rem;
    text-align: center;
}

#ux .groopsimg {
    width: 50%;
}

.linkux a {
    text-decoration: none;
    color: white;
}

.linkux {
    border-style: solid;
    width: 65px;
    text-align: center;
    background-color: black;
}

#ux h3 {
    font-family: 'quicksandregular';
}
